.user-view
  nav.user-view__menu
    ul.side-nav
    if (user.role === 'admin')
      .admin-nav
        h5.admin-nav__heading Admin
        ul.side-nav
          +navItem('/admin', 'Settings', 'settings-outline')
          +navItem('/admin/lessons', 'Lessons', 'clipboard-outline')
          +navItem('/admin/water-aerobics', 'Water Aerobics', 'water-outline', true)

  .user-view__content
    .user-view__form-container
      h2.form--heading Water Aerobics Signups
      ul.lessons__list
        each signup in signups
          li(data-id=`${signup.id}`).lesson
            .lesson--container
              p.lesson__text #{`${signup.name} | ${signup.email}  | ${signup.phone}`}
          .line__lessons